
.cart_badge {
    position: absolute;
    top: -9px;
    left: 16px;
    background: #029809;
    color: white;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    border: 3px solid white ;
    font-size: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
.wislist_badge {
    position: absolute;
    top: -9px;
    left: 15px;
    background: rgb(222, 16, 16);
    color: white;
    width: 18.5px;
    height: 18.5px;
    border-radius: 50%;
    border: 3px solid white ;
    font-size: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }